<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" strict="true" bootstrap="autoload.php">
    <testsuites>
        <testsuite name="Classes Test Suite">
            <directory>./classes_tests</directory>
        </testsuite>
        <testsuite name="Component Test Suite">
            <directory>./components_tests</directory>
        </testsuite>
    </testsuites>
</phpunit>