.header-logo{
  height: 60px;
  img{
    width: auto;
    height: 60px;
    position: absolute;
    z-index: 99;
  }
}

.no-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
  div{
    width: 100%;
  }
}
td{
  width: 0;
}

.container-fluid{
  #fullscreen{
    height: 100%;
    background-color: green;
  }
  #B{
    height: 50%;
    background-color: red;
  }
  #O{
    height: 50%;
    background-color: green;
  }
  #L{
    height: 100%;
    background-color: red;
  }
  #R{
    height: 100%;
    background-color: red;
    right: 0;
    position: absolute;
  }
  #R50{
    height: 100%;
    background-color: red;
  }
  #L50{
    height: 100%;
    background-color: blue;
  }
  .row{
    #Rb{
      height: 50%;
      right: 0;
      background-color: green;
      position: absolute;
    }
    #Ro{
      height: 50%;
      top: 50%;
      right: 0;
      background-color: blue;
      position: absolute;
    }
    .right{
      right:0;
    }
    #Lb{
      height: 50%;
      left: 0;
      background-color: green;
      position: absolute;
    }
    #Lo{
      height: 50%;
      top: 50%;
      left: 0;
      background-color: blue;
      position: absolute;
    }
  }
}