.container-fluid{
  #B{
    height: 50%;
    background-color: red;
  }
  #O{
    height: 50%;
    background-color: green;
  }
  #L{
    height: 100%;
    background-color: red;
  }
  .row{
    #Rb{
      height: 50%;
      right: 0;
      background-color: green;
      position: absolute;
    }
    #Ro{
      height: 50%;
      top: 50%;
      right: 0;
      background-color: blue;
      position: absolute;
    }
  }
}